body {
    font-family: 'Open Sans', sans-serif;
}


footer {
    height: 100px;
}

.name {
    text-align: center;
    font-style: italic;

}

.card-button {
    border: none;
    outline: 0;
    padding: 12 12 10 10px;

    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card-button:hover {
    opacity: 0.7;
}

#size {
    cursor: pointer;
}

.vega-pizza {
    height: 25vh;
}

#exit {
    float: right;
}